/*Desktop-responsive*/
/*Header*/
@media screen and (min-width:992px) {
    .fa-bars {
        display: none;
    }

    .list-cont {
        display: flex;
    }

    .ul-nav-list {
        display: flex;
        line-height: 60px;
        color: white;
        gap: 10px;
    }

    .get-btn {
        color: black;
        background-color: white;
        padding: .5rem;
        border-radius: 30px;
    }

    .ul-nav-list li a {
        font-size: .9rem;
    }
}





/*****************************************************
******************************************************
*****************************************************/


/*Tablet-responsive*/
/*Hero-tablet*/

@media screen and (min-width:768px) {
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-hero {
        width: calc(100% / 3 - 10px);
    } 

    .card-hero:first-child {
        width: 66%;
    }

    .img-card-hero {
        justify-content: start;
    }

    .img-card-hero img {
        width: 50%;
        padding-top: 3rem;
    }

}
/******************************************************
******************************************************/

/*strategic-plan tablet*/

@media screen and (min-width:768px) {
    .img-strat {
        margin: auto;
        width: 80%;
        
    }

   
   
}

/*******************************************************************
************************************************************/
/*Strategic-plan*/
@media screen and (min-width:992px) {
    .cont-plan {
        display: flex;
        justify-content: center;
    }
    .strat-cont-img-top{
        width: 40%;
        
    }
    .strat-cont-img-bot {
        width: 30%;
        
        
        
    }

    .strat-text-top h2 {
        font-size: 1.5rem;
    }
}

/****************************************************************
*****************************************************************
***************************************************************/

/*Testimonial Tablet*/

@media screen and (min-width:768px) {
    .card-testimonial {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:left;
    }

    .card-testimonial-text {
        width: 60%;
        text-align: left;
        margin-left: 2rem;
    }

    .img-testimonial {
        width: 30%;
    }
}

/*****************************************************************
*****************************************************************/
/*Testimonial Desktop*/
@media screen and (min-width:992px) {
    .card-testimonial-text {
        width: 40%;
        text-align: left;
        margin-left: 2rem;
    }

    .img-testimonial {
        width: 20%;
    }

    .card-testimonial-text {
        width: 60%;
    }
}



/*****************************************************************
*****************************************************************
****************************************************************/

/*Benefits Tablet*/
@media screen and (min-width:768px) {
    .cont-benefits-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-card {
        width: 48%;
    }
}

/****************************************************************
******************************************************************
*****************************************************************/
/*Hero section Desktop*/

@media screen and (min-width:992px) {
    .card-hero:first-child {
        display: flex;
    }
    .img-card-hero  {
        margin-top: 2rem;
        
    }

    .img-card-hero img {
        width: 80%;
    }
}



/*****************************************************************
******************************************************************
****************************************************************/

/*Benefits Desktop*/
@media screen and (min-width:992px) {
    .benefits-card {
        width: 32%;
    }
}

/****************************************************************
*****************************************************************
****************************************************************/

/*About Us Tablet*/

@media screen and (min-width:768px) {
    .cont-about-us {
        display: flex;
        justify-content: space-between;
    }

    .about-us-text {
        width: 60%;
    }

    .about-us-cont-bot {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .btn-about-us-cont {
        width: 50%;
    }
    .about {
        left: 85%;
    }

    .btn-about-us-cont p {
        font-size: 1rem;
    }

    .btn-about-us {
        width: 100%;
    }

    .btn-about-us a,
    .btn-about-us .fa-linkedin {
        font-size:.7rem ;
    }
}

/**************************************************************
**************************************************************
**************************************************************/
/*About us desktop*/

@media screen and (min-width:992px) {
    .about {
        left:90%
    }
    
}


/*************************************************************
***************************************************************
*************************************************************/

/*Get Started tablet*/
@media screen and (min-width:768px) {
    .get-started-con {
        margin: auto;
        width: 50%;
    }
}


/***************************************************************
****************************************************************
***************************************************************/

/*Footer*/
@media screen and (min-width:768px) {
    .cont-footer {
        margin: auto;
        width: 50%;
    }
}