/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    /*debug*/
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --color-blue: rgb(0 132 253);
    --white-font: white;
    --backgroun-col: rgb(181 221 255);
    --backgruoun-viol: rgb(151 146 228);
    --color-par: rgb(92 112 130);
    --par-font-size: .8rem;

}


/*****************************************************
*****************************************************/

/*Utility*/
.display-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}


.wrap {
    flex-wrap: wrap;
}

/******************************************************
******************************************************/
/*COMMON*/

/*Layout*/
.container {
    margin: auto;
    width: 90%;
    padding: 0 1rem;

}

.header {
    background-color: var(--color-blue);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#header-logo,
.fa-bars {
    color: var(--white-font);
    font-size: 2rem;
    line-height: 60px;
}

.list-cont {
    display: none;
}


/*Section-hero-mobile*/
.hero-card {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.card-hero {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--backgroun-col);
    border-radius: 30px;
    text-align: center;
}

.card-hero:first-child  {
    text-align:left;
    padding-left: 1rem;
}

.img-card-hero {
    display: flex;
    justify-content: center;
}

.img-card-hero img {
    display:block;
    width: 70%;
}



/*****************************************************************
*****************************************************************/

/*STRATEGIC-PLAN*/

.strategic-plan {
    background-color: var(--backgruoun-viol);
    padding: 3rem;
       
}

.strat-cont-img-bot {
    background-color: white;
    
}

/****************************************************************
*****************************************************************/

/*Testimonial*/
.testimonial {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.testimonial-title {
    text-align: center;
}

.card-testimonial {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--backgruoun-viol);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-testimonial {
    width: 120px;
    
    
}

.card-testimonial-text {
    text-align: center;
}

/*****************************************************************
*****************************************************************
*****************************************************************/
/*Benefit Mobile*/

.benefits {
    background-color: var(--backgruoun-viol);
    /*debug*/
    min-height: 800px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.benefits-card {
    margin-top: 2rem;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    text-align: left;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}

.btn-benefits {
    background-color: var(--backgruoun-viol);
    width: 30%;
    text-align: center;
    padding: .5rem;
    margin-top: 2rem;
    border-radius: 50px;
}

/*****************************************************************
*****************************************************************
****************************************************************/

/*About Us*/

.cont-about-us {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.img-cont-about-us {
    width: 50%;
}

.btn-about-us {
    margin-top: 1rem;
}

.about-us-cont-bot {
    position: relative;
    
}

.about {
    position: absolute;
    top: 0;
    left: 45%;
    color: var(--backgruoun-viol);
    
}






