/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    /*debug*/
    font-weight: 400;
    font-style: normal;
}

a {
    color:inherit;
}

ul {
    list-style-type: none;
}

:root {
    --color-blue:rgb(0 132 253);
    --white-font: white; 
}

/*****************************************************
*****************************************************/

/*Utility*/
.display-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/******************************************************
******************************************************/
/*COMMON*/

/*Layout*/
.container {
    width: 100%;
    padding: 0 1rem;
    
}

.header {
    background-color:var(--color-blue);
    height: 60px;
}

#header-logo,
.fa-bars {
    color: var(--white-font);
    font-size: 2rem;
    line-height:60px ;
}

.list-cont {
    display: none;
}

/*****************************************************
*****************************************************/

/*Tablet-responsive*/
/*Header*/

@media screen and (min-width:768px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}


/******************************************************
******************************************************/

/*Desktop-responsive*/
/*Header*/

@media screen and (min-width:992px) {
    .container {
        width: 70%;
        
    }

    .fa-bars {
        display: none;
    }

    .header-menu {
        width: 50%;
    }

    .list-cont {
        display:block; 
          
    }

    .ul-nav-list {
        display: flex;
        justify-content: end;
        gap: 15px;
        line-height: 60px;    
    }

    .ul-nav-list li {
        color: var(--white-font);
    }

    
    
}    