/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    /*debug*/
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    color:inherit;
}

ul {
    list-style-type: none;
}

:root {
    --color-blue:rgb(0 132 253);
    --white-font: white; 
    --backgroun-col:rgb(181 221 255);
    --backgruoun-viol:rgb(151 146 228);
}

/*****************************************************
*****************************************************/

/*Utility*/
.display-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}


.wrap {
    flex-wrap: wrap;
}

/******************************************************
******************************************************/
/*COMMON*/

/*Layout*/
.container {
    width: 100%;
    padding: 0 1rem;
    
}

.header {
    background-color:var(--color-blue);
    height: 60px;
    width: 100%;
    position: fixed;

}

#header-logo,
.fa-bars {
    color: var(--white-font);
    font-size: 2rem;
    line-height:60px ;
}

.list-cont {
    display: none;
}


/*Section-hero*/




/*****************************************************
*****************************************************/

/*Tablet-responsive*/
/*Header*/

@media screen and (min-width:768px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}


/******************************************************
******************************************************/

/*Desktop-responsive*/
/*Header*/

@media screen and (min-width:992px) {
    .container {
        width: 70%;
        
    }

    .fa-bars {
        display: none;
    }

    .header-menu {
        width: 50%;
    }

    .list-cont {
        display:block; 
          
    }

    .ul-nav-list {
        display: flex;
        justify-content: end;
        gap: 15px;
        line-height: 60px;    
    }

    .ul-nav-list li {
        color: var(--white-font);
    }

    
}  

/*****************************************************
******************************************************
*****************************************************/

/*Main section-Hero Mobile*/


.hero-card {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 5rem;
    padding-bottom:2rem;
    
}
.card {
    width: 80%;
    /*debug*/
    height: 300px;
    border-radius: 10px;
    background-color: var(--backgroun-col);
}

/******************************************************
******************************************************/

/*Main section-Hero Tablet*/

@media screen and (min-width:768px) {
   
    .container{
        width: 100%;
          
    }

    .hero-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        
        width:calc(100% / 4 - 10px);
        
    }

    .container .card:first-child {
       width: 50%;
    }



}

/*****************************************************
*****************************************************/

/*Main section-Hero Desktop*/


/******************************************************
******************************************************/


/******************************************************
*******************************************************
******************************************************/

/*Strategic-plan-Mobile*/

.strategic-plan {
    width: 100%;
    /*debug*/
    height: 800px;
    background-color:rgb(151 146 228); 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.cont-plan-img {
    width: 100%;
    /*debug*/
    height: 600px;
    border: 1px dashed white;
    
}

.strategic-plan .card {
    /*debug*/
    height: 600px;
    background-color: var(--white-font);
}

/***********************************************************
************************************************************/

/*Stategic-plan Tablet*/

@media screen and (min-width:768px) {
    .strategic-plan .card {
        width:70% ;
    }
    
}

/************************************************************
************************************************************/

/*Stategic-plan Desktop*/

@media screen and (min-width:992px) {
    .strategic-plan {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cont-plan-img {
        width: 45%;
    }

    .strategic-plan .card {
        width: 25%;
    }
    
}

/****************************************************************
*****************************************************************
****************************************************************/

/*Testimonial Mobile*/

.testimonial {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
    padding-top: 2rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.testimonial-text {
    width: 70%;
    /*debug*/
    height: 300px;
    border: 1px dashed;
    
}

.testimonial .card {
    background-color:var(--backgruoun-viol);
}


/****************************************************************
******************************************************************/


/*Testimonial Tablet*/

@media screen and (min-width:768px) {
    
    .testimonial-text {
        width: 70%;
    }

    .testimonial .card {
        width: 70%;
    }

}

/****************************************************************
*****************************************************************
****************************************************************/

/*Benefits Mobile*/
.cont-benefits {
    width: 100%;
    background-color: var(--backgruoun-viol);
    display: flex;
    justify-content: center;
}
.benefits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom:3rem ;
    gap: 2rem;
}

.benefits-title {
    width: 70%;
    /*bebug*/
    height: 200px;
    border: 1px dashed;
    background-color: var(--white-font);
}

.benefits .card {
    background-color: var(--white-font);
}

/***************************************************************
***************************************************************/

/*Benefits Tablet*/

@media screen and (min-width:768px) {
    .benefits {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .benefits-title {
        width: 100%;
    }

    .benefits .card {
        width: 47%;
    }
}

/*****************************************************************
*****************************************************************/

/*Benefits Desktop*/

@media screen and (min-width:992px) {
    .benefits .card {
        width:30%;
    }
}

/*****************************************************************
******************************************************************
*****************************************************************/

/*About Us Mobile*/

.about-us {
    width: 100%;
    background-color: var(--white-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    
}

.about-us-text,
.about-us-img {
    width: 80%;
    /*debug*/
    height: 500px;
    border: 1px dashed;
}




/******************************************************************
*****************************************************************/

/*About Us Tablet*/

@media screen and (min-width:768px) {
    .about-us {
        margin: auto;
        width: 90%;
    }
    .about-us-text {
        width: 50%;
    }
    
    .about-us-img {
        width:30%
    }
    
}

/******************************************************************
******************************************************************
*****************************************************************/

/*Get-started Mobile*/

.cont-get-started {
    width: 100%;
    /*debug*/
    height: 500px;
    background-color: var(--backgruoun-viol);
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started {
    width: 90%;
    /*debug*/
    height:400px ;
    background-color: var(--white-font);
}

/*****************************************************************
*****************************************************************
/*Get-started Tablet*/




/*****************************************************************
*****************************************************************/
/*Get-started Desktop*/

@media screen and (min-width:992px) {
    .get-started {
        width: 50%;
    }
    
}

/****************************************************************
*****************************************************************
****************************************************************/

/* Footer Mobile*/

.footer {
    width: 100%;
    background-color: black;
    /*bebug*/
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    width: 90%;
    /*debug*/
    height:150px ;
    background-color: var(--white-font); 
}

/****************************************************************
****************************************************************/

/* Footer tablet*/

/****************************************************************
****************************************************************/

/* Footer desktop*/
@media screen and (min-width:992px) {
    .footer-text {
        width: 50%;
    }
}



